<%if current_user == @user%>
  <h2>mine</h2>
<% else %>
  <h2><%= @user.name %>'s</h2>
<% end %>

<%if @cards.empty? %>
  <%= link_to 'send and ye shall recieve', new_card_path %>
<% else %>
  <% @cards.each do |card| %>
    <%= render card %>
  <% end %>
<% end %>


